

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('planemodel_index') }}">Voir les avions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('reservation_index') }}">Voir les réservations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('flight_index') }}">Voir les vols</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('site_index') }}">Voir les terrains</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('review_index') }}">Voir tous les avis utilisateurs</a>
    </li>


</ul>

